.dead {
    background-image: url('pictures/dead.jpg');
    background-size: cover;
}
.main {
    background-image: url('pictures/dead.jpg');
    background-size: cover;
}
.startscreen {
    background-color: none;
}
.heading h1 {
    color: white;
    font-size: 90px;
}
.heading h2 {
    color: white;
    font-size: 45px;
}
.gameoverheading h1 {
    color: white;
    font-size: 90px;

}
.gameoverheading h2 {
    color: rgb(214, 214, 214);
    font-size: 30px;
}
.buttons button {
    padding-right: 40px;
    padding-left: 40px;
    margin-right: 5px;
    margin-left: 5px;
}
.game {
    background-image: url('pictures/bg.jpg');
    background-size: cover;
}

.main_text {
    padding: 20px;
    border: 2px solid salmon;
    color:white
}

.body {
    transition: all 1s ease-in-out;
  }
  .text {
    text-align:center;
    color: #fff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}  