h1{
    text-align: center;
    text-decoration: underline;
    font-size: 100px;

}
h2{
    text-align: center;
}
.flexbox {
    text-align: center;
    border-style: solid;


    
}
.container {
    font-size: 5px;
   
}
body {
    background-color:black;
    color: lime;
}
a{
    color: lime;
    text-decoration: none;
    font-size: 100px;
    text-align: center;

}
a:hover  {
    color:transparent;
    text-decoration: underline;
    background-color:black;
    background-image: url(poggers.png);
    -webkit-background-clip:text;    
    transition:all 2s ease 0s;
    
}

