body {
    background-color: black;   
}
.container {
    display: flex;

}

.item {
    flex-grow: 1;
    height: 20vh;
    background-image:url(https://media1.giphy.com/media/Gb0fYjAiMvNVC/giphy.gif) ;
    text-align: center;
    text-transform: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 300%;
    text-decoration: none;
    background-repeat: no-repeat;
    background-size: 100%;





}
a {
    text-decoration:none;
    transition: text-decoration 0.5s;
    color:black;
    

}


.item + .item {
    margin-left: 2%;
}

.item :hover {
    color:white;
    background-size: 100;
    border-bottom: 2px solid;
    transition:all 0.8s ease 0s;




      





    
}
.box {
    -webkit-background-clip: text;
    text-align: center;
    background-image:url(https://media1.giphy.com/media/Gb0fYjAiMvNVC/giphy.gif);
    font-size: 500%;
    color: transparent;




}
.a :hover {
    color: black;
    
}
.nav {
    height:140px;
    width:100%;
    background-image: url(https://wallpaperaccess.com/full/93335.jpg);
    background-size:95%;
    background-position: center;
    display: flex;



   
}
.items :hover {
    color:white;
    border-bottom: 2px solid;
    transition: all 0.5s ease 0s;

 



    
    
}
.items {
    flex-grow:1;
    font-size: 40px;
    text-align: center;
    text-transform: none;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;



    
}
.shoppingcart {
    background-image: url(https://image.flaticon.com/icons/png/512/126/126083.png);
    background-size: 130px;
    background-repeat: none;
    width: 10%;
    background-position: left;
    display: flex;
    height: 90%;
    background-position: left;
    
}
#clock {
     -webkit-background-clip: text;
    font-family: 'Orbitron', sans-serif;
    color:transparent;
    font-size: 69px;
    text-align:center;
    justify-content: center;
    width: 100%;
    background-image: url(https://media1.giphy.com/media/Gb0fYjAiMvNVC/giphy.gif);
    background-position: top;
}
.text {
    color:transparent;
    font-size: 400%;
    text-align: center;
     -webkit-background-clip: text;
    background-image: url(https://media1.giphy.com/media/Gb0fYjAiMvNVC/giphy.gif);
    background-position: top;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;




}
.text:hover {
    color: red;
    transition:all 2s ease 0s;
    

}
audio {
    width: 100%;

}
