@mixin test {
    display: flex;
    justify-content:center;
    align-items: center;
}

@mixin header {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    position: relative;

    

}
@mixin colors {
    position: absolute;
    background-size: cover;
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    
}

@mixin hover1 {
    width: 0%;
    content: '';
    background:silver;
    display: block;
    height: 2px;
    margin: auto;
    transition: 0.5s;
    
}
 
