@mixin display($type,$place,$place2) {
    display:$type;
    justify-content:$place;
    align-items:$place2;
    //Lägger till display,justify-content även align-items. Allt detta som (display)
}

@mixin heightandposition($height,$position) {
    min-height: $height;
    position: $position;
    //läger till min-height and position som heightandpostion. 
}
@mixin fontanddec($size,$dec,$align,$color){
    font-size: $size;
    text-decoration: $dec;
    text-align: $align;
    color: $color;
    //lägger till fontsize textdec och colors som fontanddec
}
@mixin placement($font,$right,$left,$top,$bottom){
    font-size: $font;
    right: $right;
    left: $left;
    top: $top;
    bottom: $bottom;
    //Lägger till fontsize right left top and bottom för att kunna välja vart man ska lägga ett object(Placement)
}
@mixin Paddingandmargin($padding,$paddingtop,$paddingbottom,$margin) {
    padding: $padding;
    padding-top: $paddingtop;
    padding-bottom: $paddingbottom;
    margin: $margin;
    //Skpar en padding funktion som man kan använda för att ändra padding top och padding, bottom och även margin.
}
@mixin background($placement,$size,$color,$width) {
    position: $placement;
    background-size: $size;
    background:$color;
    width: $width;
    //Lägger till (background) postion backgroundsize, color för background och width.
}
@mixin displayandcontent($display,$content) {
    display:$display;
    content: $content;
    //En mixin som har display och concent. Som kallas för display content.
}
@mixin colors {
    position: absolute;
    background-size: cover;
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    //Postion fixar background auto margin och lägger text i center. Lägger padding på toppen även
    
}
@mixin test {
    display: flex;
    justify-content:center;
    align-items: center;
    //fixar postion för ceneterar en mixin)
}



@mixin mallposition {
    position: absolute;
    background-size: cover;
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    //postion för då mall och storlek, padding och text postion center.
    
}
@mixin ptext {
    width: 50%;
    margin: auto;
    //storlek och margin 
    
}
@mixin textfix {
    background-position: bottom;
    margin: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    //Background fix och färg för textfix mixin. med margin auto.
    
}

@mixin hover1 {
    width: 0%;
    content: '';
    background:silver;
    display: block;
    height: 2px;
    margin: auto;
    transition: 0.5s;
    //Hover effekt för det som man ska ha på med en färg av silver och tratsition på 0.5s.

}
@mixin borderlast {
    border-top: solid;
    padding: 10px;
    position: absolute;
    //Mixin med border på toppen och padding ändrar även psition absolute.
}
 
