@mixin display($type,$place,$place2) {
    display:$type;
    justify-content:$place;
    align-items:$place2;
    //testar andra typer av mixins. 
}

@mixin text($texttype,$height,$position) {
    font-family:$texttype;
    min-height: $height;
    position: $position;
}
@mixin textfix($size,$dec,$color){
    font-size: $size;
    text-decoration: $dec;
    color: $color;
}


@mixin test {
    display: flex;
    justify-content:center;
    align-items: center;
    //fixar postion för ceneterar en mixin)
}


@mixin colors {
    position: absolute;
    background-size: cover;
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    //Postion fixar background auto margin och lägger text i center. Lägger padding på toppen även
    
}
@mixin mallposition {
    position: absolute;
    background-size: cover;
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    //postion för då mall och storlek, padding och text postion center.
    
}
@mixin ptext {
    width: 50%;
    margin: auto;
    //storlek och margin 
    
}
@mixin textfix {
    background-position: bottom;
    margin: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    //Background fix och färg för textfix mixin. med margin auto.
    
}

@mixin hover1 {
    width: 0%;
    content: '';
    background:silver;
    display: block;
    height: 2px;
    margin: auto;
    transition: 0.5s;
    //Hover effekt för det som man ska ha på med en färg av silver och tratsition på 0.5s.

}
@mixin borderlast {
    border-top: solid;
    padding: 10px;
    position: absolute;
    //Mixin med border på toppen och padding ändrar även psition absolute.
}
 
