
@import './variables'; //Import varibles.sccs i style.scss.

*{
    margin: 0;
    padding: 0;
}
.header{
    @include header;
    
}
.title a{
    text-decoration: none;
    color: black;
    font-size: 35px;
    -webkit-animation: colorchange 20s infinite alternate;
    @-webkit-keyframes colorchange{
        0%{
            color:rgb(27, 154, 228);
        }
        10%{
            color:cornflowerblue;
        }
        20%{
            color:lightblue;
        }
        30%{
            color:hotpink;
        }
        40%{
            color:indianred;
        }
        50%{
            color:purple;
        }
        60%{
            color:fuchsia;
        }
        70%{
            color:lightcyan;
        }
        80%{
            color:lemonchiffon;
        }
        90%{
            color:plum;
        }
        100%{
            color:violet;
        }

    }
}
.title a::after{
    @include hover1;

}
.title a:hover::after{
    width: 100%;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    @include hover1;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text1{
    width: 90%;
    color: white;
    position: absolute;
    text-align: center;
    left: 5%;
    bottom: 60%;
}
