
@import './variables'; //Import varibles.sccs i style.scss.

*{
    margin: 0;
    padding: 0;
}
div{
    position: relative;
}
.header{
    @include header;
    background: url('./Imgs/mainbackground.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}
.title a{
    text-decoration: none;
    color: black;
    font-size: 35px;
    -webkit-animation: colorchange 20s infinite alternate;
    @-webkit-keyframes colorchange{
        0%{
            color:rgb(27, 154, 228);
        }
        10%{
            color:cornflowerblue;
        }
        20%{
            color:lightblue;
        }
        30%{
            color:hotpink;
        }
        40%{
            color:rgb(164, 235, 164);
        }
        50%{
            color:rgb(160, 96, 219);
        }
        60%{
            color:palevioletred;
        }
        70%{
            color:lightcyan;
        }
        80%{
            color:lemonchiffon;
        }
        90%{
            color:plum;
        }
        100%{
            color:violet;
        }

    }
}
.title a::after{
    @include hover1;

}
.title a:hover::after{
    width: 100%;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    @include hover1;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text1{
    width: 90%;
    color: white;
    position: absolute;
    text-align: center;
    left: 5%;
    bottom:30%;
    margin: auto;
}
.text1 h1 {
    font-size: 40px;
}
.text1 p {
    margin: 10 0 40px;
    font-size: 14px;
}

 @media(max-width: 700px){
     .text1 h1{
         font-size: 40px;
     }
 }

 .mall1{
    @include mallposition;
    @include mall;            
    margin: auto;
    color: pink;
    background: white;
    
}
.mall1 p{
    @include ptext;

}
.color1 p{
    @include ptext;
}
.color1{
    @include colors;
    @include header;
    background: url(.//Imgs/Redbackground.jpg) no-repeat center center fixed;
    @include textfix;
}
.color2{
    @include colors;
    @include header;
    background: url(./Imgs/BlueBackground.jpg) no-repeat center center fixed;
    @include textfix;
}
.color2 p{
    @include ptext;
}
.color3{
    @include colors;
    @include header;
    background: url(./Imgs/Yellowbackground.jpg) no-repeat center center fixed;
    @include textfix;
}
.color3 p {
    @include ptext;
}
i{
    
    font-size: 40px;
    padding: 55px;
    left: 30px;
    
    
    
}

.mall1 h3{
    border-top: solid;
    padding: 10px;
    position: absolute;
    left: 40px;
    
}
.ocean p {
    border-top: solid;
    padding: 10px;
    position: absolute;
    left: 15cm;
}



 