* {
  margin: 0;
  padding: 0;
}

div {
  position: relative;
}

.header {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
  position: relative;
  background: url("./Imgs/mainbackground.jpg") no-repeat center center fixed;
  background-size: cover;
}

.title a {
  font-size: 35px;
  text-decoration: none;
  color: black;
  -webkit-animation: colorchange 20s infinite alternate;
}

@-webkit-keyframes colorchange {
  0% {
    color: #1b9ae4;
  }
  10% {
    color: cornflowerblue;
  }
  20% {
    color: lightblue;
  }
  30% {
    color: hotpink;
  }
  40% {
    color: #a4eba4;
  }
  50% {
    color: #a060db;
  }
  60% {
    color: palevioletred;
  }
  70% {
    color: lightcyan;
  }
  80% {
    color: lemonchiffon;
  }
  90% {
    color: plum;
  }
  100% {
    color: violet;
  }
}

.title a::after {
  width: 0%;
  content: '';
  background: silver;
  display: block;
  height: 2px;
  margin: auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.title a:hover::after {
  width: 100%;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2% 6%;
}

.nav-links {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
}

.nav-links ul li {
  display: inline-block;
  -webkit-box-pack: defualt;
      -ms-flex-pack: defualt;
          justify-content: defualt;
  -webkit-box-align: relative;
      -ms-flex-align: relative;
          align-items: relative;
  list-style: none;
  padding: 8px 12px;
}

.nav-links ul li a {
  font-size: 13px;
  text-decoration: none;
  color: white;
}

.nav-links ul li::after {
  width: 0%;
  content: '';
  background: silver;
  display: block;
  height: 2px;
  margin: auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.text1 {
  width: 90%;
  color: white;
  position: absolute;
  text-align: center;
  font-size: defualt;
  right: defualt;
  left: 5%;
  top: defualt;
  bottom: 30%;
  margin: auto;
}

.text1 h1 {
  font-size: 40px;
  right: defualt;
  left: defualt;
  top: defualt;
  bottom: defualt;
}

.text1 p {
  margin: 10 0 40px;
  font-size: 14px;
  right: defualt;
  left: defualt;
  top: defualt;
  bottom: defualt;
}

@media (max-width: 700px) {
  .text1 h1 {
    font-size: defualt;
    right: defualt;
    left: 40px;
    top: defualt;
    bottom: defualt;
  }
}

.mall1 {
  position: absolute;
  background-size: cover;
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 25vh;
  position: relative;
  margin: auto;
  color: pink;
  background-color: white;
}

.mall1 p {
  width: 50%;
  margin: auto;
}

.color1 {
  position: absolute;
  background-size: cover;
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
  position: relative;
  background: url(.//Imgs/Redbackground.jpg) no-repeat center center fixed;
  background-position: bottom;
  margin: auto;
  background-size: cover;
  color: white;
}

.color1 p {
  width: 50%;
  margin: auto;
}

.color2 {
  position: absolute;
  background-size: cover;
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
  position: relative;
  background: url(./Imgs/BlueBackground.jpg) no-repeat center center fixed;
  background-position: bottom;
  margin: auto;
  background-size: cover;
  color: white;
}

.color2 p {
  width: 50%;
  margin: auto;
}

.color3 {
  position: absolute;
  background-size: cover;
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
  position: relative;
  background: url(./Imgs/Yellowbackground.jpg) no-repeat center center fixed;
  background-position: bottom;
  margin: auto;
  background-size: cover;
  color: white;
}

.color3 p {
  width: 50%;
  margin: auto;
}

i {
  padding: 55px;
  font-size: 40px;
  right: defualt;
  left: 50px;
  top: defualt;
  bottom: defualt;
}

.mall1 h3 {
  border-top: solid;
  padding: 10px;
  position: absolute;
  font-size: defualt;
  right: defualt;
  left: 40px;
  top: defualt;
  bottom: defualt;
}

.ocean p {
  border-top: solid;
  padding: 10px;
  position: absolute;
  font-size: defualt;
  right: defualt;
  left: 16cm;
  top: defualt;
  bottom: defualt;
}
/*# sourceMappingURL=style.css.map */